/*
Código CSS Polímetros
*/
body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url('./images/tablero.jpg');
	transform: scale(0.8);
    transform-origin: 0 0;
}

a{
	color:inherit;
	text-decoration: none;
}

#polimetro {position: absolute; top: 70px; left: 20px; visibility: visible}
#selector {position: absolute; top: 393px; left: 98px}

#conexion10A {position:absolute; top:624px; left:51px ;visibility:visible; fill:transparent}
#conexionCOM {position:absolute; top:624px; left:136px ;visibility:visible; fill:transparent}
#conexionVRA {position:absolute; top:624px; left:222px ;visibility:visible; fill:transparent}

#D7S_1a {position:absolute; top:170px; left:220px ;visibility:hidden}		   
#D7S_1b {position:absolute; top:170px; left:220px ;visibility:hidden}
#D7S_1c {position:absolute; top:170px; left:220px ;visibility:hidden}
#D7S_1d {position:absolute; top:170px; left:220px ;visibility:hidden}
#D7S_1e {position:absolute; top:170px; left:220px ;visibility:hidden}
#D7S_1f {position:absolute; top:170px; left:220px ;visibility:hidden}
#D7S_1g {position:absolute; top:170px; left:220px ;visibility:hidden}

#D7S_2a {position:absolute; top:170px; left:175px ;visibility:hidden}		   
#D7S_2b {position:absolute; top:170px; left:175px ;visibility:hidden}
#D7S_2c {position:absolute; top:170px; left:175px ;visibility:hidden}
#D7S_2d {position:absolute; top:170px; left:175px ;visibility:hidden}
#D7S_2e {position:absolute; top:170px; left:175px ;visibility:hidden}
#D7S_2f {position:absolute; top:170px; left:175px ;visibility:hidden}
#D7S_2g {position:absolute; top:170px; left:175px ;visibility:hidden}

#D7S_3a {position:absolute; top:170px; left:130px ;visibility:hidden}		   
#D7S_3b {position:absolute; top:170px; left:130px ;visibility:hidden}
#D7S_3c {position:absolute; top:170px; left:130px ;visibility:hidden}
#D7S_3d {position:absolute; top:170px; left:130px ;visibility:hidden}
#D7S_3e {position:absolute; top:170px; left:130px ;visibility:hidden}
#D7S_3f {position:absolute; top:170px; left:130px ;visibility:hidden}
#D7S_3g {position:absolute; top:170px; left:130px ;visibility:hidden}

#D7S_4a {position:absolute; top:170px; left:85px ;visibility:hidden}		   
#D7S_4b {position:absolute; top:170px; left:85px ;visibility:hidden}
#D7S_4c {position:absolute; top:170px; left:85px ;visibility:hidden}
#D7S_4d {position:absolute; top:170px; left:85px ;visibility:hidden}
#D7S_4e {position:absolute; top:170px; left:85px ;visibility:hidden}
#D7S_4f {position:absolute; top:170px; left:85px ;visibility:hidden}
#D7S_4g {position:absolute; top:170px; left:85px ;visibility:hidden}

#signo {position:absolute; top:170px; left:76px ;visibility:hidden}
#punto1 {position:absolute; top:239px; left:123px ;visibility:hidden}
#punto2 {position:absolute; top:239px; left:169px ;visibility:hidden}
#punto3 {position:absolute; top:239px; left:214px ;visibility:hidden}
#punto4 {position:absolute; top:239px; left:258px ;visibility:hidden}

#ohmios {position:absolute; top:166px; left:277px ;visibility:hidden}
#kiloohmios {position:absolute; top:182px; left:270px ;visibility:hidden}
#megaohmios {position:absolute; top:198px; left:265px ;visibility:hidden}
#voltios {position:absolute; top:214px; left:279px ;visibility:hidden}
#milivoltios {position:absolute; top:214px; left:267px ;visibility:hidden}
#hfe {position:absolute; top:230px; left:266px ;visibility:hidden}
#miliamperios {position:absolute; top:214px; left:90px ;visibility:hidden}
#microamperios {position:absolute; top:230px; left:90px ;visibility:hidden}
#AC {position:absolute; top:166px; left:90px ;visibility:hidden}

#baseDeEnchufeCasoDeUso2{position: absolute; top: 50px; width:552px; height: 615px; left:438px; background-image: url('./images/baseDeEnchufeCasoDeUso2.png');}
#puenteNeutro{position: absolute; top: 218px; width:185px; height: 154px; left:519px; background-image: url('./images/puenteNeutro.png');}
#puenteFase{position: absolute; top: 220px; width:125px; height: 125px; left:549px; background-image: url('./images/puenteFase.png');}

#regletaPuenteFase {position:absolute; top:180px; left:505px ;visibility:visible; fill:brown;}
#regletaPuenteNeutro {position:absolute; top:177px; left:474px ;visibility:visible; fill:blue;}
#regletaPuenteFase2 {position:absolute; top:185px; left:615px ;visibility:visible; fill:brown;}
#regletaPuenteNeutro2 {position:absolute; top:188px; left:647px ;visibility:visible; fill:blue;}


#sondaRoja{position: absolute; width:50px; height: 815px; top:100px; left:320px; background-image: url('./images/puntaRoja.png');}
#sondaNegra{position: absolute; width:50px; height: 815px; top:20px; left:364px; background-image: url('./images/puntaNegra.png');}
#conectorRojo {position:absolute; width:185px; height: 500px; top:460px; left:300px; background-image: url('./images/conectorRojo.png');}
#conectorNegro {position:absolute; width:150px; height: 500px; top:560px; left:320px; background-image: url('./images/conectorNegro.png');}


#aspaRojaPaso1{position: absolute; width:30px; height: 37px; top:67px; left:10px; background-image: url('./images/aspaRoja.png');}
#aspaRojaPaso2{position: absolute; width:30px; height: 37px; top:110px; left:10px; background-image: url('./images/aspaRoja.png');}
#aspaRojaPaso3{position: absolute; width:30px; height: 37px; top:153px; left:10px; background-image: url('./images/aspaRoja.png');}
#aspaRojaPaso4{position: absolute; width:30px; height: 37px; top:194px; left:10px; background-image: url('./images/aspaRoja.png');}
#aspaRojaPaso5{position: absolute; width:30px; height: 37px; top:235px; left:10px; background-image: url('./images/aspaRoja.png');}

#asesor {position:absolute; width:600px; height: 800px; top:10px; left:1050px; background-image: url('./images/papelLibretaCasoDeUso2.jpg');}
#secador{
	position:absolute;
	top: 670px;
	left: 710px;
	background:black;
	color:#fff;
	width:110px;
	height:110px;
	line-height:130px;
	text-decoration: none;
	text-align:center;
	color: rgb(106, 90, 205, 0.1);
	font-size:150px;
	font-family:Segoe UI;
	background-image: url('./images/secador.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid black;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;

}

#cadena{
	position:absolute;
	top: 690px;
	left: 820px;
	background:black;
	color:#fff;
	width:110px;
	height:110px;
	line-height:130px;
	text-align:center;
	color: rgb(106, 90, 205, 0.1);
	font-size:150px;
	font-family:Segoe UI;
	background-image: url('./images/cadena.png');
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid black;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

#estufa{
	position:absolute;
	top: 670px;
	left: 930px;
	background:black;
	color:#fff;
	width:110px;
	height:110px;
	line-height:130px;
	text-align:center;
	color: rgb(106, 90, 205, 0.1);
	font-size:150px;
	font-family:Segoe UI;
	background-image: url('./images/estufa.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border: 2px solid black;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}